// We use this style on allocations table to reduce size of inner checkboxes.
.q-checkbox__inner {
  font-size: 30px;
}

.q-date {
  width: auto;
}

.q-date__view {
  min-height: auto;
  padding: 16px 0 0 0;
}

.q-date__calendar-days-container {
  min-height: auto;
}
